<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Room</title>
    <script src="//js.pusher.com/3.0/pusher.min.js"></script>
    <script>
      window.console = window.console || function(t) {};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
    </script>
    <link rel="stylesheet" type="text/css" href="/public/css/room.css">
  </head>
  <body translate="no">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

    <div class="player">
    	    <canvas></canvas>
    		<div class="song">
    			<div class="artist">Kavinsky</div>
    			<div class="name">Odd Look ft. The Weeknd</div>
    		</div>
    		<div class="playarea">
    			<div class="prevSong"></div>
    			<div class="pause"></div>
          <div class="play"></div>
    			<div class="nextSong"></div>
    		</div>
    		<div class="soundControl"></div>
    		<div class="time">00:00</div>
    </div>

      <script src="//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-58d22c749295bca52f487966e382a94a495ac103faca9206cbd160bdf8aedf2a.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="/public/js/room.js"></script>

    <script>
      Pusher.logToConsole = true;

      var pusher = new Pusher('71596f81b8099ad40225', {
        cluster: 'eu',
        encrypted: true
      });

      var channel = pusher.subscribe('test_channel');
      channel.bind('my_event', function(data) {
        alert(data.message);
      });

    </script>
  </body>
</html>
